body{
    margin: 0;
    color:#47556D;
}

.headder{
    width:100%;
    height: 40px;
    background-color:#fff;
    display: flex;

}
.labName{
    color: #96A0B3;
    font-size:0.7em;
    line-height: 40px;
    text-align: center;
    padding-left: 20px;
}
.section_title{
    height: 24px;
    background-color:#47556D;
    padding-left:10px;

}
.sprintInfo{
    width:100px;
    display:flex;
    
}
.sprintSumally{
    display:flex;
    width:300px;
    background-color: #eed1d1;
}
.sprintSumally p{
    
}
.section_title h2{
    font-size: 0.8em;
    color:#fff;
    line-height: 20pt;
}
    

.headder h1{
    font-size: 16px;
    line-height: 10px;
    color:#47556D;
}

.primaryBtn{
    width:100px;
    height: 40px;
    border: 2px solid #CC0000;
    color:#CC0000;
    margin 10px;
    text-align: center;
    border-radius: 5px;
}


.color{
    color:#CC0000;
}

.text_userstory{
    width:300px;
    height: 20px;
}



.container{
    display: flex;
    height: 93vh;
}
#backlog{
    flex:33%;
    border-right:solid 0.5px #96A0B3;
    background-color: #F8F8F8;

}



.inputform{
    border: solid 1px #BEBEBE;
    background-color: #fff;
    border-radius: 5px;
    width:70%;
    height:30px;
}
.inputarea {
    width:100%;
    height: 108px;
    background-color: #F8F8F8;
    border-bottom:solid 1px #E2E2E2;
    padding:10px 10px 10px 10px;
}
.inputarea h3{
    font-size: 0.8em;
    margin-top:5px;
    margin-bottom: 5px;
}
.inputarea textarea{
    width:83%;
    height:65px;
    padding:5px;
    resize: none;
    margin-right:5px;
    font-size:0.9em;
    line-height: 18px;

}
.inputarea_btn{
    width:14%;
    height:60px;
    border: solid 2px #6C91C9;
    border-radius: 5px;
    background-color: #6C91C9;
    text-align: center;
    color:#fff;
}
.pbi_list{
    width:100%;
    height: 85%;
    background-color: #F8F8F8;;
    overflow:scroll;
    
}
.list{
    width: 100%;
    background-color: #fff;
    border: solid 1px #ccc;
    border-bottom: solid 1px #E2E2E2;
    padding: 10px 10px 10px 10px;
}
.list:hover{
    background-color: #EDF0F5;
    transition: all  0.3s ease;

}

.pbi_userstoryID{
    width:100%;
    margin-bottom:5px;

}
.pbi_userstoryID p{
    font-size:0.7em;
    color:#E2E2E2;
}

.pbi_info{
    width:100%;
    font-size: 0.7em;

}
.pbi_info p{
    margin-right: 10px;
}

.pbi_info_info{
    width:100%;
    display: flex;
    margin-bottom: 5px;

}
.pbi_text{
    color:#d2d2d2;
    display: flex;
}
.pbi_info_info button{
    margin-right: 5px;
}

.pbi_info_info ul{
    display: flex;
    
}
.pbi_info_info li{
    margin: auto 5px;
    display: flex;
    
}
.li_tatus{
    color: blue;
}

.pbi_info_command{
    
    
}

.pbi_info_command_regular{
    float:left;
    height: 30px;
}

.pbi_info_command_regular button{
    margin-right: 10px;
}
.pbi_info_command_delete{
    width:20%;
    margin-left:80px;
}
.pbi_info_command_delete button{
    /*
    color:red;
    */

}

.list h4{
    font-weight:bold;
    font-size:0.8em;
    line-height: 18px;
}

.list button{
    
}

.btn_2ndmini{
    width:30px;
    height:20px;
    border:solid 1px #6C91C9;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
}
.btn_2ndmini:hover{
    background-color: #E2E2E2;
}

/* //ここからバックログ詳細 */
#backlogDetail{
    width:33%;
    background-color: #fff;
    border-right:solid 0.5px #96A0B3;

}


.detail_pbi_title{
    width:100%;
    background-color: #F8F8F8;
    border-bottom:solid 1px #E2E2E2;
    padding:10px 10px 10px 10px;
    height:108px;
}
.detail_pbi_title textarea{
    width:95%;
    height:65px;
    padding:5px;
    margin-right:5px;
    margin-left:5px;
    border-radius: 5px;
    font-size:0.9em;
    line-height: 20px;
    resize: none;
    font-weight: bold;
    
}

.pbi_taskSumally {
    width: 100%;
    display:flex;
    border-bottom: solid 1px #e8e8e8;
    padding : 5px 0px 5px 5px;

}
.pbi_taskSumally p{
    margin-right: 5px;
    font-size: 0.8em;
}

.detail_pbi_title h4{
    font-size:1.0em;
    font-weight:bold;
    line-height: 16pt;
}
.detail_pbi_title p{
    font-size:0.5em;
    color:#848181;
}

.detail_form_ui textarea{
    width:95%;
    height:45px;
    padding:5px;
    resize: none;
    margin-right:5px;
    border: solid 1px #BEBEBE;
    border-radius: 5px;
    font-size:0.9em;
    line-height: 18px;

}

.detail_form_ui_long textarea{
    width:95%;
    height:100px;
    padding:5px;
    margin-right:5px;
    border: solid 1px #BEBEBE;
    border-radius: 5px;
    font-size:0.9em;
    line-height: 18px;

}

.detail_dataselect{
    width: 100%;
    background-color: #F8F8F8;
    display:inline-flex;
    padding:5pt 5pt 5pt 15pt;
    border-bottom: solid 1px #e8e8e8;

    
}
.detail_dataselect select{
    width:80px;
    border: solid 1px #BEBEBE;
    border-radius: 5px;
    color: #848181;
    font-size:0.8em;
    padding:5px;
    background-color: #fff;
  }
.detailCommand{
    padding-right:40px;
}
.detailCommand label{
    font-size: 0.4em;
    color:#BEBEBE;
}

.detail_form{
    width:100%;
    height: 60%;
    padding: 30px 10px 0px 10px;
    overflow:scroll;

}

.detail_form_ui{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size:0.8em;

}
.detail_form_ui_long{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size:0.8em;
}
/* //ここからタスク一覧 */
#backlogTask{
    width:33%;
    background-color: #F8F8F8;
}
.pbiarea{
    width:100%;
    height: 100%;
    

}
.task_list{
    width:100%;
    height: 100%;
    overflow:scroll; 
}
.task_design{
    width: 94%;
    background-color: #fff;
    border:solid 1px #ccc;
    border-radius: 5px;
    border-bottom: solid 1px #E2E2E2;
    padding: 5px 5px 5px 5px;
    margin: 2% 3% 2% 3%;
}
.task_info{
}


.taskNameID{
    width: 100%;
}
.tasktime{
    width: 60%;
    display:inline-flex;

}
.task_design h4{
    font-size:0.8em;
    font-weight:bold;
    line-height: 16pt;
    overflow-wrap: normal;
}
.task_design p{
    font-size:0.6em;
    color: #E2E2E2;
    margin-bottom:5px;
}
.task_design input{
    border: solid 1px #BEBEBE;
    background-color: #fff;
    border-radius: 5px;
    width:100%;
    height:25px;
    font-size: 0.7em ;
    padding : 2px 2px 2px 4px;

}
.task_design label{
    font-size: 0.8em;
}
.task_design select{
    border: solid 1px #BEBEBE;
    background-color: #fff;
    border-radius: 5px;
    width:30%;
    height:30px;
    font-size: 0.8em ;
    padding : 2px 2px 2px 4px;
    
}

.task_design:hover{
    background-color: #EDF0F5;
    transition: all  0.3s ease;
}
.task_command{
    width:250px;
    /*
    position:relative;
    */

}
/*
.task_command_block{
    position:absolute;
    bottom:0;
    
}
*/
.task_command a{
    font-size: 0.5em;
}
.task_command button{
    font-size: 0.5em;
}

.task_form_ui{
    width:60px;
    margin-right: 10px;
}
.task_form_ui select{
    width:100px;
    height: 25px;
}
